@use "sass:math";
@use "global/acms-common" as acms;
@use "global/common" as global;

/* ------------------------------
　　コメント
------------------------------ */
$comment-bg-color: #F8F8F8;


.comment {

}

.comment-body {
  margin: 0 -15px;
  padding: 25px 10px;
  background: $comment-bg-color;
}

@media screen and (min-width: acms.$breakpoint-sm-min) {
  .comment-body {
    padding: 25px 15px;
  }
}

@media screen and (min-width: acms.$breakpoint-md-min) {
  .comment-body {
    margin: 0;
    padding: 50px 25px;
  }
}


.comment-title {
  margin: 0 0 20px 0;
  padding: 10px 15px;
  color: #FFF;
  font-weight: normal;
  font-size: 14px;
  background: #525252;
}


/* コメント */
.comment__item-inner {
  display: flex;
  margin: 0 0 20px 0;
}

.comment__item-user {
  position: relative;
  flex: 0 1 45px;
  padding: 0 10px 0 0;
}

.comment__item-img {
  border-radius: 50%;
}

.comment__item .comment__item {
  margin: 0 0 0 55px;
}

.comment > .comment__item {
  & > .comment__item-inner:last-child {
    margin-bottom: 0;
  }
}

.comment__item-body {
  width: 100%;
  background: #FFF;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
}

.comment__item-title {
  margin: 0;
  padding: 20px;
  font-size: 14px;
  border-bottom: 1px solid #E6E6E6;
}

.comment__item-detail {
  padding: 20px;
}

.comment__item-text {
  margin: 0 0 25px 0;
  line-height: 1.7;
}

.comment__info-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.comment__info-list-item {
  display: inline-block;
  margin: 0 0 10px 0;
  padding: 0 10px;
  color: #6C6C6C;
  font-size: 13px;
  border-right: 1px solid #C7C7C7;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border: 0;
  }
}



/* 優先度アイコン */
.comment-priority-icon {
  position: absolute;
  top: 25px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  color: #333;
  font-size: 12px;
  background: #CCC;
  border-radius: 50%;

  &.--high {
    color: #9C0808;
    background: #F9C6C6;
  }

  &.--middle {
    color: #715E1A;
    background: #FFDA6C;
  }

  &.--low {
    color: #044BB1;
    background: #BFD7F9;
  }
}


/* コメント送信画面 */
.comment-form {
  margin: 30px 0 0 0;
}


.comment-form-group {
  display: flex;
  margin: 0 0 15px 0;

  &.--column {
    flex-direction: column;
  }

  &.--row {
    place-items: center;
  }
}

.comment-form__label {
  color: #6c6c6c;
  @include global.font-size(13);
  font-weight: bold;
  white-space: nowrap;
}

.comment-form-group {

  &.--column {
    .comment-form__label {
      margin: 0 0 10px 0;
    }
  }

  &.--row {
    .comment-form__label {
      margin: 0 15px 0 0;
    }
  }

  &.--row-item {
    margin: 0 30px 0 0;
  }
}


/* テーブル（確認画面） */
.comment-table {
  width: 100%;
  margin: 0 0 30px 0;
  color: #666666;
  border-top: 1px solid #EAEAEA;
  border-collapse: collapse;
  tr {

  }
  th {
    box-sizing: border-box;
    width: 140px;
    padding: 20px 10px;
    white-space: nowrap;
    text-align: left;
    border-bottom: 1px solid #EAEAEA;
  }
  td {
    padding: 20px 10px;
    border-bottom: 1px solid #EAEAEA;
  }
}

.comment-form-message {
  margin: 40px 0 20px;
  color: #666;
  font-weight: bold;
  font-size: 13px;
  text-align: center;

  &.is-danger {
    color: #9C0808;
  }
}
.comment-form-btn-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px;
}
